<!--<ngx-spinner bdColor="rgba(51, 51, 51, 0.96)" size="medium" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>-->

<div class="animated fadeIn">
  <div class="card module-dt">
    <div class="card-header">
      <span class="font-weight-bold">Drivers</span>
    </div>
    <div class="card-body module-dt drivers">
      <div style="width: 100%;">
        <div class="table-responsive pt-3">
          <table id="driverData" class="table table-outline"></table>
        </div>
      </div>
      <div id="driverModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="driverModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="driverFormTitle">Drivers</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearForms()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form id="driverModalForm" novalidate>
                <div class="col-md-12">
                  <div class="form-group d-none">
                    <label for="driverID">Driver ID</label>
                    <input type="text" class="form-control" placeholder="Enter User ID" id="driverID" name="driverID">
                  </div>
                  <div>
                    <div class="form-group" id="driverImage">
                      <img src="http://placehold.it/180" class="img-responsive" alt="" width="110" height="110" id="driverImageBox">
                      <span data-l11n class="btn btn-mint btn-file">
                        <input type="file" name="UploadFile" id="uploadDriver">
                        <span id="driverLabelUpload"></span>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-10 float-left p-0">
                    <div class="form-group">
                      <label for="driverName">Drivers Name</label>
                      <input data-l11n type="text" class="form-control" placeholder="Driver's Name" name="driverName" id="driverName" data-by-field="driverName" required>
                    </div>
                  </div>
                  <div class="col-md-2 float-left pr-0">
                    <div class="form-group">
                      <div class="activateDriver">
                        <label for="driverStatus">Status</label>
                        <label class="switch switch-label switch-pill switch-primary" style="margin: 4px 0 0 0;">
                          <input data-switchery="true" class="driverStatus switch-input" name="driverStatus" id="driverStatus" data-by-field="driverStatus" type="checkbox" checked>
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 float-left form-group pl-0">
                    <label>Password</label>
                    <input data-l11n type="password" class="form-control" placeholder="Password" name="driverPassword" id="driverPassword" data-by-field="driverPassword" required>
                  </div>
                  <div class="col-md-6 float-left form-group p-0">
                    <label>Confirm Password</label>
                    <input data-l11n type="password" class="form-control" placeholder="Confirm Password" name="driverConfirmPassword" id="driverConfirmPassword" data-by-field="driverConfirmPassword" required>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-6 float-left form-group pl-0">
                    <label>Phone</label>
                    <input data-l11n type="text" class="form-control" placeholder="Phone Number" name="driverPhone" id="driverPhone" data-by-field="driverPhone" required>
                  </div>
                  <div class="col-md-6 float-left form-group p-0">
                    <label>Email</label>
                    <input data-l11n type="text" class="form-control" placeholder="Email" name="driverEmail" id="driverEmail" data-by-field="driverEmail" required>
                  </div>
                  <div class="col-md-6 float-left form-group pl-0">
                    <label>Address</label>
                    <input data-l11n type="text" class="form-control" placeholder="Address" name="driverAddress" id="driverAddress" data-by-field="driverAddress" required>
                  </div>
                  <div class="col-md-6 float-left form-group p-0">
                    <label>Date of Birth</label>
                    <input type="text" class="form-control" placeholder="DD-MMM-YYYY HH:MM" id="driverBirthDate">
                  </div>
                  <div class="col-md-4 float-left form-group pl-0">
                    <label>Reseller</label>
                    <select class="selectpicker form-control show-tick" data-live-search="true" data-width="100%" #resellerSelect (change)='onOptionsSelectedReseller(resellerSelect.value)' id="driverReseller"></select>
                  </div>
                  <div class="col-md-4 float-left form-group p-0">
                    <label>Company</label>
                    <select class="selectpicker form-control show-tick" data-live-search="true" data-width="100%" #companySelect (change)='onOptionsSelectedCompany(companySelect.value)' id="driverCompany"></select>
                  </div>
                  <div class="col-md-4 float-left form-group pr-0">
                    <label>Assign Vehicle(s)</label>
                    <select class="selectpicker form-control show-tick" data-live-search="true" data-width="100%" #assetSelect id="driverAssets"></select>
                  </div>
                  <div class="col-md-12 float-left form-group p-0">
                    <label>Remarks</label>
                    <textarea data-l11n type="text" class="form-control" placeholder="Remarks" name="driverRemarks" id="driverRemarks" data-by-field="driverRemarks"></textarea>
                  </div>
                  <br />
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearForms()"><i class="fa fa-times fa-fw"></i> Close</button>
                  <button id="submit-driver" data-toggle="modal" type="button" href="#confirmDriver" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> Save changes</button>
                </div>
              </form>

            </div>

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



      <div id="confirmDriver" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Please Confirm...</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Do you wish to proceed with the updates?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" (click)="decline()">Cancel</button>
              <button type="button" class="btn btn-danger" (click)="onSubmit()">Save</button>
            </div>
          </div>
        </div>
      </div>



      <div id="deleteDriver" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p>Do you really want to delete these records? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal" (click)="decline()">Cancel</button>
              <button type="button" class="btn btn-danger deleteDriverBtn">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
