<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <div class="logo">
                    <img src="assets/img/logo.png" alt="Track logo">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" id="username" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" id="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="submit()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div id="loading ">
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="top-bg-dark" id="top-bg"></div>
    <div class="animation-preloader" id="loader-middle">
      <div class="spinner">
        <img src="assets/img/loading.gif" alt="Loader" width="400">
      </div>

      <div class="txt-loading">
        <span data-text-preloader="T" class="letters-loading">
          T
        </span>
        <span data-text-preloader="R" class="letters-loading">
          R
        </span>
        <span data-text-preloader="A" class="letters-loading">
          A
        </span>
        <span data-text-preloader="C" class="letters-loading">
          C
        </span>
        <span data-text-preloader="K" class="letters-loading">
          K
        </span>
        <span data-text-preloader="-" class="letters-loading">
          -
        </span>
        <span data-text-preloader="A" class="letters-loading">
          A
        </span>
        <span data-text-preloader="S" class="letters-loading">
          S
        </span>
        <span data-text-preloader="I" class="letters-loading">
          I
        </span>
        <span data-text-preloader="A" class="letters-loading">
          A
        </span>
      </div>
      <p class="text-center">Loading</p>
    </div>
    <div class="bottom-bg-dark" id="bottom-bg"></div>
  </div>
</div>


