<ngx-spinner bdColor="rgba(51, 51, 51, 0.96)" size="medium" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">HDB Carpark Information</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <iframe width="100%" height="600" src="https://data.gov.sg/dataset/hdb-carpark-information/resource/139a3035-e624-4f56-b63f-89ae28d4ae4c/view/e02fdccf-b667-4ede-a87b-74cb9f1e6080" frameBorder="0"> </iframe>
            </div>
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Carpark Availability</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div style="width: 100%;">
                <div class="table-responsive pt-3">
                  <table id="carparkavailabilityReport" class="table table-striped table-hover dt-responsive display nowrap" cellspacing="0" width="100%"></table>
                </div>
              </div>
            </div>
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Carpark Rates (Major Shopping Malls, Attractions and Hotels)</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div style="width: 100%;">
                <div class="table-responsive pt-3">
                  <table id="carparkratesReport" class="table table-striped table-hover dt-responsive display nowrap" cellspacing="0" width="100%"></table>
                </div>
              </div>
            </div>
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
