<ngx-spinner bdColor="rgba(51, 51, 51, 0.96)" size="medium" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Map&nbsp;</span><span class="float-right" id="coordinates-panel"></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div style="height:450px;" id="map"></div>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Street View&nbsp;</span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div style="height:450px;" id="street-map"></div>
            </div><!--/.col-->
          </div><!--/.row-->
          <br>
        </div>
      </div>
    </div>
  </div><!--/.row-->

</div>
