<ngx-spinner bdColor="rgba(51, 51, 51, 0.96)" size="medium" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-success">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="getMove"></div>
          <div>MOVE</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Status when vehicle is MOVING</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-warning">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="getIdle"></div>
          <div>IDLE</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Status when vehicle is IDLE</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-danger">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="getStop"></div>
          <div>STOP</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Status when vehicle is OFF</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-dark">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="getDown"></div>
          <div>DOWN</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Down for more than 24 hours</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-header">
      <span class="font-weight-bold">Vehicles:&nbsp;</span><span id="total-vehicles"></span><span class="float-right" id="coordinates-panel"></span>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div style="height:600px;" id="map-canvas"></div>
          <div id="panel">
            <div id="color-palette"></div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->

    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Smooth Traffic</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Slow Moving Traffic</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Heavy Traffic</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">No Data Available</div>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-gray-dark" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="assetList" class="table table-responsive-sm table-hover table-outline mb-0 info-table">
            <thead class="thead-dark">
              <tr>
                <!--<th class="text-center"><i class="fa fa-car"></i></th>-->
                <th>ID</th>
                <th>Name</th>
                <th class="text-center" width="25%">Address</th>
                <th>Date</th>
                <th>Last Updated</th>
                <th class="text-center">Speed</th>
                <th>Driver</th>
                <th class="text-center">Fix</th>
                <th class="text-center" width="70">Engine</th>
                <th class="text-center" width="50">GPS</th>
                <th class="text-center" width="78">Network</th>
              </tr>
            </thead>
            <tbody id="assetStatus">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  <div id="trackingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="trackingFormTitle"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-12">
            <div style="height:600px;" id="map-asset"></div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
