<ngx-spinner bdColor="rgba(51, 51, 51, 0.96)" size="medium" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-success">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="active"></div>
          <div>Active vehicles</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Number of active vehicles</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-danger">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="inactive"></div>
          <div>In-active vehicles</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Number of in-active vehicles</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-dark">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="repair"></div>
          <div>Vehicles with issues</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Number of vehicles with issues</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="brand-card">
        <div class="card-body pb-3 bg-info">
          <div class="btn-group float-right">
            <i class="fa fa-car fa-2x"></i>
          </div>
          <div class="text-value" id="total-assets"></div>
          <div>Total vehicles</div>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase text-muted small">Total number of vehicles</div>
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Vehicle List</span><span class="float-right" id="coordinates-panel"></span>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-responsive-sm table-hover table-outline mb-0 info-table" width="100%">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center"><i class="fa fa-car"></i></th>
                    <th>Name</th>
                    <th>Device #</th>
                    <th>License Plate Number</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Category</th>
                    <th>Transmission</th>
                    <th>Fuel Type</th>
                    <th>Installation Date</th>
                  </tr>
                </thead>
                <tbody id="assetDetails">
                </tbody>
              </table>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
