/*------------------------------------ Asset Details Table -----------------------------------------*/

.info-table {
    font-size: 13px;
    line-height: 1.57;
  }

.info-table i {
    color:#fff;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 13px;
}

 .info-table .vehicle-img {
    width: 60px !important;
  }

.table {
  table-layout: fixed;
}

.move {
  background-color: #2B7C21;
}

.stop {
  background-color: #B60003;
}

.idle {
  background-color: #fea82c;
}

.down {
  background-color: #696969;
}
