
// Here you can add other styles
#reports-container .dt-buttons {
  float: right !important;
}

div.dt-button-background {
  background: none;
}

div.dt-button-collection {
  overflow: auto !important;
  /*left: 50px !important;*/
  width: 130px
}

.dt-button.buttons-collection {
  color: #fff !important;
  background: #5a6268 !important;
  border-color: #bab9b9;
  //margin-left: 5px !important;
  margin-right: 0 !important;
}

button.dt-button, div.dt-button, a.dt-button {
  padding: 0.3em 1em;
}

.dt-button.buttons-collection:hover,
.dt-button.buttons-collection:focus,
.dt-button.buttons-collection:active {
  background: #3f3f3f !important;
}

.dt-button.buttons-collection:first-child {
  margin-left: 0px !important;
}

.dt-button.buttons-columnVisibility.active {
  background: #39b2d5 !important;
  color: #fff;
  box-shadow: none !important;
}

/*.table {
  color: #000 !important;
}*/

table.dataTable {
  color: #000 !important;
}

table.dataTable.nowrap th {
  color: #5c6873;
  background-color: #e4e7ea;
  border-color: #c8ced3;
}
/*border: 1px solid #dfe8f1*/
/*Loading*/
.dataTables_wrapper .dataTables_processing {
  z-index: 10000;
  margin-top: -40px;
  height: 80px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 25%, rgba(255, 255, 255, 0.95) 75%, rgba(255, 255, 255, 0.95) 100%)
}

/*-----------------------------------------------*/

.module-dt .buttons-colvis, .module-dt .buttons-copy, .module-dt .buttons-collection {
  float: right !important;
}

.module-dt .addBtn {
  color: #fff !important;
}

.modal.show {
  background: rgba(0,0,0,0.7);
}

/*------------------------- Responsive Module Datatables -------------------------------*/
.module-dt .dataTables_scrollHeadInner {
  width: 100% !important;
  padding-right: 0 !important;
}

.module-dt .dataTables_scrollHeadInner table, .module-dt .dataTables_scrollBody table {
  min-width: 1000px;
  width: 100% !important;
}

.module-dt div.dt-buttons {
  float: right !important;
}

.copyBtn, .refreshBtn {
  color: #fff !important;
  background: #5a6268 !important;
  border-color: #bab9b9;
  margin-right: 0 !important;
}

.addBtn:hover, .copyBtn:hover, .refreshBtn:hover,
.addBtn:focus, .copyBtn:focus, .refreshBtn:focus,
.addBtn:active, .copyBtn:active, .refreshBtn:active {
  background: #3f3f3f !important;
}

.addBtn {
  color: #fff !important;
  background: #5a6268 !important;
  border-color: #bab9b9;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0.333em;
  margin-right: 0.333em;
  border: 1px solid #999;
  padding: 0.3em 1em;
  border-radius: 2px;
  font-size: 0.88em;
  line-height: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  text-decoration: none;
  outline: none;
  text-overflow: ellipsis;
}

.module-dt table.dataTable.nowrap th, .module-dt table.dataTable.nowrap td {
  white-space: unset !important;
}

.module-dt .table {
  table-layout: unset !important;
}

table.fixedHeader-floating.no-footer {
  margin-top: 50px;
}
